* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;

    background-color: white;
    width: 20rem;
    height: 15rem;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}